<div class="row">
  <div class="col-12" style="height:25vh;">
  </div>
  <div class="col-12 text-center">
    <h1 class="display-1">
      About Us
    </h1>
  </div>
  <div class="col-12" style="height:10vh;">
    </div>
  <div class="col-12 text-center">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quos perspiciatis fuga. Sequi repudiandae magnam quibusdam maiores doloribus! Blanditiis deleniti doloremque id rerum voluptates doloribus voluptatem recusandae unde explicabo consectetur?</p>
  </div>
</div>