<div class="container-fluid">
    <div class="row justify-content-center" style="background-color:#fff">
        <div class="col-4 text-center align-items-center">
            <a routerLinkActive = "link" routerLink="/home" style="text-decoration: none;"><div class="navBarItem">Home</div></a>
        </div>
        <div class="col-4 text-center">
            <a routerLink="/photos" style="text-decoration: none;"><div class="navBarItem">Photos</div></a>
        </div>
        <div class="col-4 text-center">
            <a routerLink="/about" style="text-decoration: none;"><div class="navBarItem">About Us</div></a>
        </div>
    </div>
</div>