.navBarItem{
    color:red;
    padding: 5% 0%;
    font-size: 2.5vw;
    border-radius: 0.5vw;
}
.navBarItem:hover{
    color:white;
    background-color: red;
    text-decoration: none;
}
.link{
    background-color: green;
}
